.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  position: relative;
  background-image: linear-gradient(90deg, rgba(99, 4, 134, 0) 27.98%, #630486 91.6%), linear-gradient(115.7deg, #C03AF7 13.37%, rgba(192, 58, 247, 1) 92.6%);
}

.headerImages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.headerImage {
  margin-top: 50px;
  padding-left: 50px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  color: rgb(66 72 120)
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

.productCard {
  padding: 1em;
  max-height: fit-content;
  width: 18em;
  border: 1px solid black;
  background-color: white;
  border-radius: 0.5em;
  margin: 1em;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: black;
  font-family: 'Georgia';
  cursor: pointer;
}

.productCard:hover {
  scale: 105%;
  transition: .5s ease;
}

.productImage {
width: 300px;
height: 300px;

}

.detailsButton {
  font-family: 'Nunito', sans-serif;
}


.footer {
  margin-top: 200px;
}




.deleteBtn {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: #07c;
}

.deleteBtn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.deleteBtn:active {
  background-color: #0064bd;
  box-shadow: none;
}

.homeLink {
  font-family: 'Butterfly Kids', cursive, bold;
  font-size: 100px
}